@model PatientFollowUp.Web.Models.OpenFollowUpsViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Open Follow-ups</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="~/Scripts/jquery-1.11.1.min.js"></script>
        <script src="/Scripts/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>   
        <link href="/Scripts/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="~/styles.css" rel="stylesheet" />
        <script language="javascript">
            $(document).ready(function () {
                $('.table-hover tr').click(function () {
                    var rowId = $(this).data("rowKey");

                    $.ajax({
                            url: '/Patient/PatientDetails/?followUpId= ' + rowId,
                            contentType: 'application/html; charset=utf-8',
                            type: 'GET',
                            dataType: 'html'
                        })
                        .success(function(result) {

                            $("#patientDetailModal").html(result);
                            $('#patientDetailModal').modal('show');


                        }).error(function(xhr, status) {

                        });

                });
            });
        </script>
    </head>
    <body>
        <div style="position: absolute; top:10%; left:10%; width: 80%;">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>PT Name</th>
                        <th>Accession #</th>
                        <th>Exam Type</th>
                        <th>Follow Up Date</th>
                        <th>Referrer</th>
                    </tr>
                </thead>
                @foreach (var followUp in Model.FollowUps)
                {
                    <tbody>
                        <tr data-row-key="@followUp.FollowUpID">
                            <td>@followUp.PatientName</td>
                            <td>@followUp.AccessionNumber</td>
                            <td>@followUp.ExamType</td>
                            <td>@followUp.FollowUpDate.ToString("M/d/yyyy")</td>
                            <td>@followUp.ReferrerName</td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
        <div class="modal fade" id="patientDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
    </body>
</html>