@model PatientFollowUp.Web.Models.PatientDetailsViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Patient Details</title>
        <link href="~/styles.css" rel="stylesheet" />
        <style>
            .first-column {
                width: 33%;
                float: left;
                background-color: lightblue;
            }

            .second-column {
                width: 33%;
                float: left;
                background-color: lightcoral;
            }

            .third-column {
                width: 33%;
                float: left;
                background-color: lightgoldenrodyellow;
            }

        </style>
        <script>
            $(document).ready(function() {
                $("#btn_submit").click(function () {

                    var followUpExamId = $('input:radio[name="cb_exam"]:checked').val();
                    if (followUpExamId) {
                        followUpExamId = followUpExamId.replace('cb_exam_', '');
                    }
                    var noRelevantFollowupFound = $('input[name ="no_relevant_followup"]').is(":checked");
                    var followUpClosedReasonId = $("#FollowUpClosedReasonId").val();
                    var comments = $("#comments").val();
                    var followUpId = $("#FollowUpId").val();
                    


                    $.ajax({
                        url: "/FollowUp/SaveFollowUpUpdates",
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(
                        {
                            "FollowUpId": followUpId,
                            "FollowUpExamId": followUpExamId,
                            "NoRelevantFollowupFound": noRelevantFollowupFound,
                            "Comments": comments,
                            "FollowUpClosedReasonId": followUpClosedReasonId,
                        })

            
                    }).fail(function(jqXHR, textStatus) {
                        alert(textStatus);

                    }).success(function() {
                        
                        $('#patientDetailModal').modal('hide');
                        getOpenFollowUps();

                    }.error(function(errorMessage) {
                        alert(errorMessage);
                    }));
                });

            });
        </script>
    </head>
    <body>
        <div class="modal-dialog" style="width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Patient Information</h4>
                </div>
                <div id="patientDetailModalBody" class="modal-body" style="margin-bottom: 50px;">
                    <div id="topBox" style="width: 100%;">
                        <div class="first-column">
                            <input type="hidden" id="FollowUpId" value="@Model.FollowUp.FollowUpID"/>
                            <table style="width: 100%">
                                <tr>
                                    <td>Name: @Model.FollowUp.PatientFirstName @Model.FollowUp.PatientLastName</td>
                                </tr>
                                <tr>
                                    <td>Follow Up: @Model.FollowUp.FollowUpDate.ToShortDateString()</td>
                                </tr>
                                <tr>
                                    <td>Patient Phone: @(!string.IsNullOrEmpty(Model.FollowUp.PatientHomePhone) ? Model.FollowUp.PatientHomePhone : Model.FollowUp.PatientMobilePhone)</td>
                                </tr>
                            </table>
                        </div>
                        <div class="second-column">
                            <table style="width: 100%">
                                <tr>
                                    <td>Accession #: @Model.FollowUp.AccessionNumber</td>
                                </tr>
                                <tr>
                                    <td>Referrer: @Model.FollowUp.ReferrerFirstName @Model.FollowUp.ReferrerLastName</td>
                                </tr>
                            </table>
                        </div>
                        <div class="third-column">
                            <table style="width: 100%">
                                <tr>
                                    <td>Exam Type: @Model.FollowUp.ExamType</td>
                                </tr>
                                <tr>
                                    <td>Ref Phone: @(!string.IsNullOrEmpty(Model.FollowUp.ReferrerPhone) ? Model.FollowUp.ReferrerPhone : Model.FollowUp.ReferrerMobilePhone)</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="topBox"  style="clear: both; width: 100%;">
                        
                        <div style="width: 50%; float: left;  background-color: lightskyblue;">
                            @Html.Raw(Model.FollowUp.Report)
                        </div>
                        <div style="width: 50%; float: left;  background-color: lightgray;">
                            <div>
                                <table>
                                    <tr>
                                        <th>Exam Date</th>
                                        <th>Exam Type</th>
                                        <th>Exam Description</th>
                                    </tr>
                                    @foreach (var exam in Model.Exams)
                                    {
                                        <tr data-row-key="@exam.ExamID">
                                            <td><input type="radio" name="cb_exam" value="cb_exam_@exam.ExamID"/>@if(exam.ScheduleDate.HasValue){@exam.ScheduleDate.Value.ToShortDateString()}</td>
                                            <td>@exam.ExamType</td>
                                            <td>@exam.Description</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                            <div>
                                <input type="checkbox" name="no_relevant_followup" value="no_relevant_followup"/>NO RELEVANT FOLLOWUP<br/>
                                <select id="FollowUpClosedReasonId">
                                    <option id="0">--No follow up selected reason</option>
                                    @foreach (var followUpClosedReason in Model.FollowUpClosedReasons)
                                    {
                                        <option value="@followUpClosedReason.FollowUpClosedReasonId">@followUpClosedReason.FollowUpClosedReasonDescription</option>
                                    }
                                </select><br/>
                                Comments <textarea id="comments" rows="4" cols="50"></textarea>
                            </div>
                        </div>

                    </div>
                </div>                
                <div class="modal-footer" style="position: relative; clear: both;">
                    <button id="btn_submit" type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </body>
</html>